{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% include 'includes/alerts.html' %}
    <div class="row padding-y">
        <aside class="col-md-2">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item" href="{% url 'dashboard' %}"> Dashboard </a>
                    <a class="list-group-item" href="{% url 'myOrders' %}"> My Orders </a>
                    <a class="list-group-item " href="{% url 'editProfile' %}">Edit Profile</a>
                    <a class="list-group-item active" href="#">Change Password</a>
                </ul>
                <br>
                <a class="btn btn-outline-danger btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
                <!--   SIDEBAR .//END   -->
        </aside>
        <div class="col-md-10">
            <form method="POST" action="{% url "changepassword" %}" >
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Current Password</label>
                        <input class="form-control" type="text" name="currentpass" placeholder="Current Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>New Password</label>
                        <input class="form-control" type="text" name="newpass" placeholder="New Password , must be greter than 8" minlength="8" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Confirm Password</label>
                        <input class="form-control" type="text" name="confirmpass" placeholder="Repeat Password, must be greter than 8" minlength="8" required>
                    </div>
                    <input type="submit" class="btn btn-success ml-2">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}