{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}   
<div class="container">
    {% include 'includes/dashitem.html' %}
    <div class="row padding-y">
        <div class="card mx-auto" style="max-width: 600px;border: none;margin-bottom: 40px;">
            {% include 'includes/alerts.html' %}
            <div class="row justify-content-center align-items-center h-100">
                <form method="POST" action="{% url 'changepassword' %}" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label >Current Password</label>
                            <input class="form-control" type="password" name="currentpass" placeholder="Current Password" id="w-60">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>New Password</label>
                            <input class="form-control" type="password" name="newpass" placeholder="New Password" id="w-60" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Confirm Password</label>
                            <input class="form-control" type="pass" name="confirmpass" placeholder="Repeat Password" id="w-60" required>
                        </div>
                        <input type="submit" class="btn btn-success ml-2" id="w-60" value="Change password">
                    </div>
                </form>
              </div>
            </div>
          </div>
        <div class="col-md-12">
           
        </div>
    </div>
</div>
{% endblock content %}