{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content" style="min-height:84vh">
        
        <!-- ============================ COMPONENT LOGIN   ================================= -->
            <div class="card mx-auto" style="max-width: 600px; margin-top:100px;border: none;">
            <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'forgotPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email" id="w-60">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" id="w-60">Confirm</button>
                </div> <!-- form-group// -->    
            </form>
            </div> <!-- card-body.// -->
            </div> <!-- card .// -->
            <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
        
        
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
        
        
        <!-- ========================= FOOTER ========================= -->

        <!-- ========================= FOOTER END // ========================= -->
{% endblock content %}      