{% extends 'base.html' %}
{% load static %}
{% block content %}
        <style>

        </style>
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content" style="min-height:84vh">
        <!-- ============================ COMPONENT LOGIN   ================================= -->
            <div class="card mx-auto" style="max-width: 600px;border: none;margin-bottom: 40px;">
                <div class="row">
                    <div class="col-md-6 mb-6">
                        <a href="{% url 'login' %}" class="text-dark"><button  class="btn btn-outline-light btn-block text-dark active"  id="w-60"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button></a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'register' %}" class="text-dark"><button  class="btn btn-outline-light btn-block text-dark"  id="w-60"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button></a>
                    </div>
                </div>
            </div>
            <div class="card mx-auto" style="max-width: 600px;border: none;">
                <a class="text-" href="{% url 'home' %}">
                    <img class="img-fluid" id="logo-center" src="{% static 'images/logo_Rm_bg.png' %}">
                </a>
                    <div style="position: relative;">
                        <p style="position: absolute; top: -30px; left: 10px; font-weight: bold; font-size: 30px;padding-left: 9px;">Login now</p>
                    </div>
            <div class="card-body">
            {% include 'includes/alerts.html' %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                        <input type="email" class="form-control" id="w-60" placeholder="Email Address" name="email">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" id="w-60" placeholder="Password" name="password">
                </div> <!-- form-group// -->
                
                <div class="form-group">
                    <a href="{% url 'forgotPassword' %} "class="float-right">Forgot password?</a>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" id="w-60">Login</button>
                </div> <!-- form-group// -->    
            </form>
            </div> <!-- card-body.// -->
            </div> <!-- card .// -->
        
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
            <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
        
        
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}