{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/navbar.html' %}   
<div class="container">
    {% include 'includes/dashitem.html' %}
    <div class="row pb-5 ">
            <div class="col-md-12">
                {% if orderproduct %}
                    <table class="table mb-0 bg-white border">
                        <thead class="bg-light align-items-center">
                        <tr>
                            <th>#Order</th>
                            <th>Billing Name</th>
                            <th>Phone</th>
                            <th>Order Total</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for order in orderproduct%}
                                <tr>
                                    <td>
                                    <div class="d-flex align-items-center">
                                        <div class="ms-3">
                                        <p class="fw-bold mb-1">{{order.order_number}}</p>
                                        </div>
                                    </div>
                                    </td>
                                    <td>
                                    <p class="fw-normal mb-1">{{order.first_name}} {{order.last_name}}</p>
                                    </td>
                                    <td>{{order.phone}}</td>
                                    <td>
                                    <p>{{order.grand_total}}</p>
                                    </td>
                                    <td>
                                        <span>{{order.created_at}}</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline">Delivered</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                        <h4>You don't have any order history.</h4>
                    </div>
                {% endif %}
            </div>
    </div>
    <a class="btn btn-outline-dark btn-block mb-5 btn-lg"  href="{% url 'editAddresss' %}">Edit Delivery Address</a>
</div>
{% endblock content %}