{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width: 600px;border: none;margin-bottom: 40px;">
        <div class="row">
            <div class="col-md-6 mb-6">
                <a href="{% url 'login' %}" class="text-dark"><button  class="btn btn-outline-light btn-block text-dark"  id="w-60"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button></a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'register' %}" class="text-dark"><button  class="btn btn-outline-light btn-block text-dark active"  id="w-60"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button></a>
            </div>
        </div>
    </div>
    <div class="card mx-auto" style="max-width: 600px;border: none;">
        <a class="text-" href="{% url 'home' %}">
            <img class="img-fluid" id="logo-center" src="{% static 'images/logo_Rm_bg.png' %}">
        </a>
        <div style="position: relative;">
            <p style="position: absolute; top: -30px; left: 10px; font-weight: bold; font-size: 30px;padding-left: 9px;">Register to get started</p>
        </div>
        <article class="card-body">
            <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% include 'includes/alerts.html' %}
                        <div class="col form-group">
                            <label>First name</label>
                              {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                              {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Email</label>
                        {{ form.email }}
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Country</label>
                                <select name="country" class="form-control">
                                    <option value="Nepal">Nepal</option>
                                    <option value="India">India</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Japan">Japan</option>
                                </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone Number</label>
                              {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Confirm password</label>
                            {{ form.confirm }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"  id="w-60"> Register </button>
                    </div> <!-- form-group// --> 
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
        
{% endblock content %}