{% extends 'base.html' %}

{% block content %}
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-conten padding-y" style="min-height:84vh">
        
        <!-- ============================ COMPONENT LOGIN   ================================= -->
            <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" name="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="confirm password" name="confirmPassword">
                </div> <!-- form-group// -->
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Confirm</button>
                </div> <!-- form-group// -->    
            </form>
            </div> <!-- card-body.// -->
            </div> <!-- card .// -->
        
            <p class="text-center mt-4">Got Password? <a href="{% url 'register' %}">Login</a></p>
            <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
        
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
        
        <!-- ========================= FOOTER ========================= -->
        <footer class="section-footer border-top padding-y">
            <div class="container">
                <p class="float-md-right"> 
                    &copy Copyright 2023 All rights reserved
                </p>
                <p>
                    <a href="#">Terms and conditions</a>
                </p>
            </div><!-- //container -->
        </footer>
        <!-- ========================= FOOTER END // ========================= -->
{% endblock content %}      