{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
        
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-4">
        <article class="gallery-wrap"> 
            <div class="img-big-wrap">
            <img id="detailphoto" class="image-fluid" src="{{ single_product.Image.url }}">
            </div> <!-- img-big-wrap.// -->
        </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-8">
        <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <article class="content-body">
            
                <h2 class="title">{{single_product.product_name}}</h2>
                
                <div class="mb-3"> 
                    <var class="price h4" style="color: #dc2f2f;">Rs. {{single_product.price}}</var> 
                </div> 
                
                <p>{{single_product.description}}</p>
                    {% if single_product.stock < 1 %}
                        <h3 class="text-danger">Out of stock</h3>
                    {% else %}
                        {% if single_product.variation_set.color  %}
                        <div class="row">
                            <div class="item-option-select">
                                <h6 class="ml-2">Choose Color</h6>
                                <select name="color" class="form-control" required>
                                    <option value="" disabled selected>Choose Color</option>
                                    {% for i in single_product.variation_set.color %}
                                        <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <!-- row.// -->
                    {% endif %}
                    {% if single_product.variation_set.size %}
                        <div class="row">
                            <div class="item-option-select">
                                <h6 class="ml-2">Select Size</h6>
                                <select name="size" class="form-control" required>
                                    <option value="" disabled selected>Choose Size</option>
                                    {% for i in single_product.variation_set.size %}
                                        <option vlaue="{{ i.varitation_value }}">{{ i.variation_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <!-- row.// -->
                    {% endif %}
                    {% if single_product.variation_set.ram %}
                        <div class="row">
                            <div class="item-option-select">
                                <h6 class="ml-2">Select ram</h6>
                                <select name="ram" class="form-control" required>
                                    <option value="" disabled selected>Choose ram</option>
                                    {% for i in single_product.variation_set.ram %}
                                        <option vlaue="{{ i.varitation_value }}">{{ i.variation_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <!-- row.// -->
                    {% endif %}
                    {% if single_product.variation_set.storage %}
                        <div class="row">
                            <div class="item-option-select">
                                <h6 class="ml-2">Select storage</h6>
                                <select name="storage" class="form-control" required>
                                    <option value="" disabled selected>Choose storage</option>
                                    {% for i in single_product.variation_set.storage %}
                                        <option vlaue="{{ i.varitation_value }}">{{ i.variation_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <!-- row.// -->
                    {% endif %}
                    <hr>
                    <button type="submit" class="btn btn-success pb-2 pt-2 mb-3"> <span class="text ">Add to cart</span><i class="fa fa-shopping-cart"></i></button>
                    {% endif %}
            </article> <!-- product-info-aside .// -->
        </form>
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        <br>
        <div class="row">
                    <div class="col-md-9">
                    
                <form method="POST" action="">
                    {% csrf_token %}
                    <h4>Leave a review so that it helpul for other customers</h4>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>                                                                               
                        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                    </div>
                    <div>
                        Review Title: 
                        <input type="text" class="form-control" name="subject" required>
                        Review Message:
                        <input type="text" class="form-control" name="review" required>
                        <br>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
        
            <header class="section-heading">
                <h3>Customer Reviews</h3> 
            </header>
        
            <article class="box mb-3">
                <div class="icontext w-100">
                    <img src="{% static '/images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                    <div class="text">
                        <span class="date text-muted float-md-right">24.04.2020 </span>  
                        <h6 class="mb-1">Mike John </h6>
                    </div>
                </div> <!-- icontext.// -->
                <div class="mt-3">
                    <p>
                        Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                    </p>	
                </div>
            </article>
        
            
        
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        
        
        </div> <!-- container .//  -->
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}